# Configuration OpenAI
OPENAI_API_KEY=your_openai_api_key_here

# Configuration Google Custom Search Engine
GOOGLE_CUSTOM_SEARCH_ENGINE_ID=your_google_custom_search_engine_id_here
GOOGLE_CUSTOM_SEARCH_API_KEY=your_google_custom_search_api_key_here

# Configuration Google Search API (Legacy)
GOOGLE_SEARCH_API_KEY=your_google_search_api_key_here
GOOGLE_SEARCH_ENGINE_ID=0426c6b27374b4a72

# Configuration Supabase
SUPABASE_URL=your_supabase_url_here
SUPABASE_KEY=your_supabase_key_here

# Configuration FreeCurrency
FREECURRENCY_API_KEY=your_frecurrency_api_key_here

# Configuration Email (Gmail)
GMAIL_USER=your_gmail_user_here
GMAIL_PASSWORD=your_gmail_password_here

# Configuration Application
FLASK_BASE_URL=http://localhost:5000 